%h1= @recipe.title
%p= @recipe.description
= image_tag @recipe.image.url(:medium, class: "recipe_image")
%p
	Submitted by
	= @recipe.user.email

%h2 Ingredient Lists
%ul
	- @recipe.ingredients.each do |ingredient|
		= ingredient.name
		<br>

%h2 Directions
%ul
	- @recipe.directions.each do |d|
		= d.step
		<br>

= link_to "Back", root_path, class: "btn btn-default"
= link_to "Edit Recipe", edit_recipe_path, class: "btn btn-default"
= link_to "Delete Recipe", recipe_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"